/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
 html { box-sizing: border-box; } 
 *, ::after, ::before { box-sizing: inherit; } 
/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/
body{
    background-color: #b2bec3;

h1{
    color: #d63031;
}

.vizitka {
 margin-left: 33.33%;
 margin-right: 33.33%;
 margin-top: 150px;
 background-color: white;
 width: 550px;
 padding: 30px;
 position: relative;
 box-shadow: 2px 2px 2px 2px #767070;
 
}


img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 2px 2px 2px 2px #5b5959;
    position: absolute;
    right: -75px;
    top: -75px;
}